/* ----- Navigation bar ----- */
nav {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-bottom: 1px solid #ffd24d;
  box-shadow: 0 0 8px #e100ff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #e100ff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s ease;
}

nav a:hover, nav a.active {
  color: #ffd24d;
  text-shadow:  
    0 0 1px rgba(0,0,0,.4),
    3px 3px 0 #e100ff,
    6px 6px 12px rgba(225,0,255,.35);
  letter-spacing: 2px;
}

/* ----- Title & subtitle styling ----- */
.neon-title {
  text-align: center;
  font-size: 40px;
  color: #ffd24d;
  text-shadow:
    0 0 1px rgba(0,0,0,.4),
    3px 3px 0 #e100ff,
    6px 6px 12px rgba(225,0,255,.35);
  letter-spacing: 2px;
}

.neon-subtitle {
  text-align: left;
  font-size: 35px;
  color: #ffd24d;
  text-shadow:
    0 0 1px rgba(0,0,0,.4),
    3px 3px 0 #e100ff,
    6px 6px 12px rgba(225,0,255,.35);
  letter-spacing: 2px;
  margin-left: 90px;
  padding-left: 20px;
  border-left: 5px solid #e100ff;
}

/* ----- Body styling ----- */
body {
  background: #0b101b;
  color: #eee;
  font-family: 'Bevan', sans-serif;
  margin: 0;
}

.wrap { 
  width: min(1100px, 92%); 
  margin: 0 auto; 
  padding: 1rem 0 2rem; 
}

/* ----- Movie grid ----- */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  margin-top: 28px;
}

.card {
  background: #0b101b;
  border: 2px solid #e100ff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 6px #ffd24d;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}

.info { 
  padding: 12px; 
  display: flex; 
  flex-direction: column; 
  gap: 6px; 
}

.title { 
  color: #ffd24d; 
  margin: 0; 
  font-size: 18px; 
  letter-spacing: .5px; 
}

.meta  { 
  color: #cfcfcf; 
  margin: 0 0 6px; 
  font-size: 13px; 
}

.actions {
  margin-top: auto;
  display: flex;
  gap: 8px;
}

/* ----- Buttons styling ----- */
.link-btn {
  text-decoration: none;
  font-size: 13px;
  color: #ffd24d;
  border: 1px solid #ffd24d;
  border-radius: 5px;
  padding: 5px 20px;
}

.link-btn:hover { 
  color: #e100ff; 
  border-color: #e100ff; 
  transform: scale(1.05);
  transition: 0.3s ease;
}

.book-btn {
  text-decoration: none;
  font-size: 13px;
  color: #2a1300;
  border-radius: 5px;
  background: #ffd24d;
  border-color: #ffd24d;
  padding: 5px 15px;
}

.book-btn:hover {
  color: #ffd24d;
  background: #e100ff;
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* ----- Footer ----- */
footer {
  text-align: center;
  font-size: 12px;
  color: #ebe8e8;
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 2px solid #e100ff;
  padding: 20px;
}

/* ----- Responsiveness ----- */
@media (max-width: 992px) {
  nav { 
    padding: 8px; 
  }

  nav a {
    font-size: 11px;
  }

  nav ul { 
    flex-wrap: wrap; 
    gap: 10px; 
  }

  .neon-title { 
    font-size: 26px; 
    letter-spacing: 1px; 
  }

  .neon-subtitle {
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
  }

  .grid { 
    grid-template-columns: repeat(2, 1fr); 
  }

  .btn{
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .btn {
    width: 80%;
    font-size: 0.9rem;
  }
}
